
.ui.selection.dropdown {
  padding: 0 !important;
}



.ui.segment {
  padding: {
    right: 0.5rem!important;
    left: 0.5rem!important;
    top: 0.5rem!important;
    bottom: 0.5rem!important;
  }

}
.ui.attached.header {
  border-radius: 0px!important;
  padding: {
    right: 0.025rem!important;
    left: 0.25rem!important;
    top: 0.1rem!important;
    bottom: 0.1rem!important;
  }
}


.ui.striped.selectable.selectable.selectable.table tbody tr.active:hover {
  background: #E0E0E0!important;
  color: rgba(0,0,0,.95)!important;
}